@import url("https://fonts.geekzu.org/icon?family=Material+Icons");
* {
  padding: 0;
  margin: 0;
  font-family: "PingFang SC", "Sarasa UI SC", "Helvetica Neue",
    "Microsoft YaHei New", STHeiti Light, sans-serif;
  --dark-text: #efefef;
  --dark-background: #000;
  --dark-background-darker: #111;
  --dark-text-darker: #aaa;
  --highlight: #a81900;
  --white-text: #111111;
  --white-background: #fff;
  --white-background-darker: #efefef;
  --white-text-darker: #626262;
  line-height: 150%;
}

.hoverlink:hover {
  color: var(--highlight);
}

.hoverlink {
  color: var(--white-text-darker);
}

h1 {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 49.5px;
}

h2 {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 38.5px;
}

h3 {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 32.5px;
}

h4 {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 30.5px;
}

h5 {
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 25px;
}

hr {
  height: 1.5px;
  background-color: #767676;
  border-color: #767676;
  border-radius: 200px;
  margin: 16px;
}

table,
ol {
  padding-top: 5%;
  padding-bottom: 3%;
}

.siteinfo {
  bottom: -100px;
  position: absolute;
  font-size: 15.6444px;
  left: 0;
  right: 0;
  /*position: absolute;*/
  margin: 1.5% 10%;
}

a {
  color: var(--highlight);
  text-decoration: none;
}

#aboutme {
  float: right;
}

p,
ul,
li {
  font-size: 22px;
}

footer {
  color: var(--white-text-darker);
}

pre {
  white-space: pre-wrap;
  overflow: auto;
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--white-background-darker);
  background-color: var(--white-background-darker);
}

code {
  white-space: pre-wrap;
  overflow: auto;
  font-family: Sarasa Mono SC, Cascadia Code, Fira Code, Menlo, Consolas, monaco,
    monospace;
}

.post-container {
  margin: 5% 0%;
  border-radius: 20px;
  border: 2px solid var(--white-background-darker);
  background-color: var(--white-background-darker);
}

.post-container * {
  padding: 0%;
  margin: 0%;
}

.post-container h1 {
  padding: 3% 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-container p {
  padding: 3% 5%;
  color: var(--white-text-darker);
}

.post-container a {
  vertical-align: middle;
}

.post-container i {
  vertical-align: middle;
  padding: 0% 1%;
}

i {
  vertical-align: middle;
  padding: 0% 1%;
}

.post-info * {
  color: var(--white-text-darker);
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;
}

.arrow_forward::before {
  content: "arrow_forward";
}

.arrow_back::before {
  content: "arrow_back";
}

#container {
  position: relative;
  height: auto;
  margin: 5% 10%;
}

.head * {
  display: inline;
  padding: 5%;
}

.head .h1 {
  font-size: 40px;
}

.head .h3 {
  font-size: 30px;
  white-space: nowrap;
}

.intro {
  display: inline-block;
  margin-bottom: 4%;
}

.intro * {
  vertical-align: middle;
  display: inline;
}

.intro span {
  display: inline-block;
}

.intro h1 {
  margin-left: 10px;
  font-size: 40px;
  padding: 0;
}

#intro-text-intro {
  font-size: 25px;
  color: var(--dark-text-darker);
}

.intro #avatar {
  padding: 0%;
  border-radius: 50px;
  height: 96px;
  width: 96px;
}

img {
  max-width: 100%;
  padding-top: 5%;
  padding-bottom: 3%;
  left: 0;
  right: 0;
  position: relative;
}

table {
  padding-top: 5%;
  padding-bottom: 3%;
}

.none {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-text);
    background-color: var(--dark-background);
  }
  footer {
    color: var(--dark-text-darker);
  }
  pre {
    border: 2px solid var(--dark-background-darker);
    background-color: var(--dark-background-darker);
  }
  .post-container {
    border: 2px solid var(--dark-background-darker);
    background-color: var(--dark-background-darker);
  }
  .hoverlink {
    color: var(--dark-text-darker);
  }
  .post-info *,
  .post-container p {
    color: var(--dark-text-darker);
  }
}

@media screen and (max-width: 1150px) {
  #blogginginfo {
    display: none;
  }
  #aboutme {
    float: right;
  }
}

@media screen and (max-width: 790px) {
  .head * {
    padding: 4%;
  }
  .intro {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  #aboutme {
    font-size: 14px;
  }

  .head .display_none {
    display: none;
  }
  .intro h1 {
    display: block;
  }
  .post-container .post-intro {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .head * {
    padding: 1%;
  }
}
